<!DOCTYPE html>
<html>
  <head>
    
    <title>NickMakes</title>
    <%= favicon_link_tag asset_path 'made_by_nick_light_icon.png' %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat:wght@500&family=Rowdies:wght@700&display=swap" rel="stylesheet">
  
  </head>

  <body>
    <h1><%= link_to "Nick Smith", root_path, class: "header-link" %></h1>
    <%= yield %>
  </body>
</html>
